.bg-login {
  background-image: url('../../../public/assets/images/backgrounds/bg_signIn.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-login-form {
  background-image: url('../../../public/assets/images/backgrounds/bg_form_signIn.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
}

.title-login p {
  filter: drop-shadow(4px 3px 2px rgba(255, 49, 26, 1));
}